<section class="advertisement-section">
  <div class="container">
    <div class="advertisement-wrapper">
      <div class="marquee">
        <div class="marquee__inner">
          <h2 class="advertisement-header marquee__line">
            Master
            <span class="advertisement-header-span">your photography</span>
            skills with us!
          </h2>
          <h2 class="advertisement-header marquee__line">
            Master
            <span class="advertisement-header-span">your photography</span>
            skills with us!
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
