<footer class="footer" id="contacts">
  <div class="container">
    <div class="footer-top">
      <div class="logo-address-wrapper">
        <a class="footer-logo link" href="./index.html">
          <svg class="footer-logo-icon" width="123" height="16">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <address class="footer-address">
          <ul class="footer-address-list list">
            <li class="footer-address-list-item tel">
              UK: <a class="link" href="tel:+380665438912">+38 066 543 8912</a>
            </li>
            <li class="footer-address-list-item">Ukraine, Kyiv</li>
          </ul>
        </address>
      </div>

      <div class="footer-list-wrapper">
        <ul class="footer-list-socials list">
          <li class="footer-list-socials-item">
            <a
              class="footer-list-socials-link text-link link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
              >Instagram
            </a>
          </li>
          <li class="footer-list-socials-item">
            <a
              class="footer-list-socials-link text-link link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              >Facebook
            </a>
          </li>
          <li class="footer-list-socials-item">
            <a
              class="footer-list-socials-link text-link link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener noreferrer"
              >Youtube
            </a>
          </li>
        </ul>
        <ul class="footer-list-menu list">
          <li class="footer-list-menu-item">
            <a class="footer-list-menu-link text-link link" href="#about"
              >About us</a
            >
          </li>
          <li class="footer-list-menu-item">
            <a class="footer-list-menu-link text-link link" href="#courses"
              >Our courses</a
            >
          </li>
          <li class="footer-list-menu-item">
            <a class="footer-list-menu-link text-link link" href="#mentors"
              >Our mentors</a
            >
          </li>
          <li class="footer-list-menu-item">
            <a class="footer-list-menu-link text-link link" href="#reviews"
              >Reviews</a
            >
          </li>
          <li class="footer-list-menu-item">
            <a class="footer-list-menu-link text-link link" href="#contacts"
              >Contacts</a
            >
          </li>
        </ul>
      </div>

      <form class="footer-form" name="subscribe_form">
        <input
          class="footer-form-input"
          name="subscribe-email"
          type="email"
          placeholder="Enter your email"
          pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
          required
          autocomplete="on"
        />
        <button class="footer-form-button" type="submit">Go</button>
      </form>
    </div>

    <div class="footer-bottom text-small">
      <a
        class="footer-privacy link"
        href=""
        target="_blank"
        rel="noopener noreferrer"
        >Privacy Policy<br />
        Public Offering Agreement</a
      >
      <p class="footer-rights">
        2023 Focus Frame<br />
        &copy; All rights reserved
      </p>
    </div>
  </div>
</footer>
