<header class="head container">
  <div class="header-box">
    <a class="heder-box-nav-link link" href="">
      <svg class="svg-logo" width="123" height="16">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="heder-box-nav">
      <ul class="heder-list list">
        <li class="heder-item">
          <a class="text-link link" href="#about">About us</a>
        </li>
        <li class="heder-item">
          <a class="text-link link" href="#courses">Our courses</a>
        </li>
        <li class="heder-item">
          <a class="text-link link" href="#mentors">Our mentors</a>
        </li>
        <li class="heder-item">
          <a class="text-link link" href="#reviews">Reviews</a>
        </li>
        <li class="heder-item">
          <a class="text-link link" href="#contacts">contacts</a>
        </li>
      </ul>
    </nav>
    <div class="fotoburger-box">
      <!-- fotocamera -->
      <a class="heder-fotokamera link" href="#sign">
        <svg class="svg-fotocamera" width="16" height="16">
          <use href="./img/icons.svg#icon-camera_footer"></use>
        </svg>
      </a>
      <!-- Burger -->
      <button
        class="heder-menu-burger js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg
          class="charm-menu"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="22"
          viewBox="0 0 32 22"
          fill="none"
        >
          <line
            x1="5.86963"
            y1="3.66669"
            x2="31.0001"
            y2="3.66669"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
          />
          <line
            x1="5.86963"
            y1="17"
            x2="31.0001"
            y2="17"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
          />
          <line
            x1="13.5217"
            y1="10.3333"
            x2="31"
            y2="10.3333"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </button>
    </div>
  </div>
  <button class="btn-singup" type="button">Sign up</button>
</header>
