<header class="head">
    <div class="header-box">
            <nav class="heder-box-nav">
                <a  class="heder-box-nav-link link" href="">
                    <svg class="" width="123" height="16">
                        <use href="./img/favicon.svg#http://www.w3.org/2000/svg"></use>
                    </svg>
                </a>
                <ul  class="heder-list list">
                    <li class="heder-item"><a class="text-link link" href="">About us</a></li>
                    <li class="heder-item"><a class="text-link link" href="">Our courses</a></li>
                    <li class="heder-item"><a class="text-link link" href="">Our mentors</a></li>
                    <li class="heder-item"><a class="text-link link" href="">Reviews</a></li>
                    <li class="heder-item"><a class="text-link link" href="">contacts</a></li>
                </ul>
                <!-- fotocamera -->
                <a  class="heder-fotokamera link" href="">
                    <svg class="svg-fotocamera" width="16" height="16">
                        <use href="./img/icons.svg#icon-camera_footer"></use>
                    </svg>
                </a>
                <!-- Burger -->
                <button class="heder-menu-burger">
                    <svg class="charm-menu" width="40" height="28">
                        <use href="./img/icons.svg#http://www.w3.org/2000/svg"></use>
                    </svg>
                </button>
            </nav>            
        </div>
        <button class="btn-singup" type="button">Sign up</button>
    </header>