<header class="head container">
  <div class="header-box">
    <a class="heder-box-nav-link link" href="" aria-label="to home">
      <svg class="svg-logo" width="123" height="16">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="heder-box-nav">
      <ul class="heder-list list">
        <li class="heder-item">
          <a class="text-link link" href="#about">About us</a>
        </li>
        <li class="heder-item">
          <a class="text-link link" href="#courses">Our courses</a>
        </li>
        <li class="heder-item">
          <a class="text-link link" href="#mentors">Our mentors</a>
        </li>
        <li class="heder-item">
          <a class="text-link link" href="#reviews">Reviews</a>
        </li>
        <li class="heder-item">
          <a class="text-link link" href="#contacts">contacts</a>
        </li>
      </ul>
    </nav>
    <div class="fotoburger-box">
      <!-- fotocamera -->
      <a class="heder-fotokamera link" href="#sign" aria-label="sign up">
        <svg class="svg-fotocamera" width="16" height="16">
          <use href="./img/icons.svg#icon-camera_footer"></use>
        </svg>
      </a>
      <!-- Burger -->
      <button

        class="heder-menu-burger js-open-menu" aria-expanded="false" aria-controls="mobile-menu" aria-label="menu">
        <svg class="charm-menu"><use href="./img/icons.svg#icon-burger"></use></svg>
             </button>

    </div>
  </div>
  <a class="btn-singup" href="#sign">Sign up</a>
</header>
