<section class="hero-section">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-big-container">
        <h1 class="text-header-big hero-header">
          Discover the magic of
          <span class="hero-header-span">photography</span> in our school
        </h1>
        <p class="text-paragraph hero-paragraph">
          Our photography school offers an unforgettable journey, where you can
          learn the basics of composition, master technical skills, translate
          your unique ideas.
        </p>

        <div class="hero-students-star-container">
          <div class="hero-students-container">
            <picture class="hero-students-image">
              <source
                srcset="
                  ./img/mobile/happy_students.png,
                  ./img/mobile/happy_students_2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/tablet/happy_students.png,
                  ./img/tablet/happy_students_2x.png 2x
                "
                media="(min-width: 768px) and (max-width: 1279px)"
              />
              <source
                srcset="
                  ./img/desktop_1280/happy_students.png,
                  ./img/desktop_1280/happy_students_2x.png 2x
                "
                media="(min-width: 1280px) and (max-width: 1439px)"
              />
              <source
                srcset="
                  ./img/desktop_1440/happy_students.png,
                  ./img/desktop_1440/happy_students_2x.png 2x
                "
                media="(min-width: 1440px)"
              />

              <img
                src="./img/mobile/happy_students.png"
                alt="Camera"
                width="107"
                height="44"
                loading="lazy"
              />
            </picture>

            <a
              href="#reviews"
              class="link hero-students-link"
              aria-label="reviews"
            >
              <p class="text-paragraph hero-students-text">
                Our happy students
              </p>
              <svg width="18" height="9" class="hero-students-icon">
                <use href="./img/icons.svg#icon-arrow_hero"></use>
              </svg>
            </a>
          </div>

          <div class="hero-star-container">
            <div class="hero-star-box">
              <svg width="20" height="20" class="hero-star-icon">
                <use href="./img/icons.svg#icon-star_hero"></use>
              </svg>
            </div>
            <div class="hero-review-container">
              <span class="text-paragraph hero-review-text">Reviews</span><br />
              <span class="text-review-number">+1500</span>
            </div>
          </div>
        </div>
      </div>
      <picture class="hero-photo">
        <source
          srcset="./img/mobile/hero.png, ./img/mobile/hero_2x.png 2x"
          media="(max-width: 767px)"
        />
        <source
          srcset="./img/tablet/hero.png, ./img/tablet/hero_2x.png 2x"
          media="(min-width: 768px) and (max-width: 1279px)"
        />
        <source
          srcset="
            ./img/desktop_1280/hero.png,
            ./img/desktop_1280/hero_2x.png 2x
          "
          media="(min-width: 1280px) and (max-width: 1439px)"
        />
        <source
          srcset="
            ./img/desktop_1440/hero.png,
            ./img/desktop_1440/hero_2x.png 2x
          "
          media="(min-width: 1440px)"
        />

        <img
          src="./img/mobile/hero.png"
          alt="Men with camera"
          width="259"
          height="314"
        />
      </picture>
    </div>
  </div>
</section>
