<section>
  <div class="container mentor-section-container">
    <h2 class="text-header-medium header-text-style-mentor">
      Our <span class="text-color">Mentors </span>
    </h2>
    <ul class="mentor-list-container">
      <li class="mentor-item-container">
        <picture>
          <source
            srcset="./img/mobile/emilia.png, ./img/mobile/emilia_2x.png 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/tablet/emilia.png, ./img/tablet/emilia_2x.png 2x"
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./img/desktop_1280/emilia.png,
              ./img/desktop_1280/emilia_2x.png 2x
            "
            media="(min-width: 1280px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./img/desktop_1440/emilia.png,
              ./img/desktop_1440/emilia_2x.png 2x
            "
            media="(min-width: 1440px)"
          />

          <img
            src="./img/mobile/emilia.png"
            alt="Emilia"
            width="180"
            height="180"
            loading="lazy"
          />
        </picture>
        <div class="mentor-text-container">
          <h3 class="text-header-small">Emilia Smith</h3>
          <p class="text-small paragraph-text-style">15 years of experience</p>
        </div>
      </li>
      <li class="mentor-item-container">
        <picture>
          <source
            srcset="./img/mobile/alex.png, ./img/mobile/alex_2x.png 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/tablet/alex.png, ./img/tablet/alex_2x.png 2x"
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./img/desktop_1280/alex.png,
              ./img/desktop_1280/alex_2x.png 2x
            "
            media="(min-width: 1280px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./img/desktop_1440/alex.png,
              ./img/desktop_1440/alex_2x.png 2x
            "
            media="(min-width: 1440px)"
          />

          <img
            src="./img/mobile/alex.png"
            alt="Alex"
            width="180"
            height="180"
            loading="lazy"
          />
        </picture>

        <div class="mentor-text-container">
          <h3 class="text-header-small">Alex Lebedev</h3>
          <p class="text-small paragraph-text-style">3.5 years of experience</p>
        </div>
      </li>
      <li class="mentor-item-container">
        <picture>
          <source
            srcset="./img/mobile/mia.png, ./img/mobile/mia_2x.png 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/tablet/mia.png, ./img/tablet/mia_2x.png 2x"
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./img/desktop_1280/mia.png,
              ./img/desktop_1280/mia_2x.png 2x
            "
            media="(min-width: 1280px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./img/desktop_1440/mia.png,
              ./img/desktop_1440/mia_2x.png 2x
            "
            media="(min-width: 1440px)"
          />

          <img
            src="./img/mobile/mia.png"
            alt="Mia"
            width="180"
            height="180"
            loading="lazy"
          />
        </picture>

        <div class="mentor-text-container">
          <h3 class="text-header-small">Mia Dubrovska</h3>
          <p class="text-small paragraph-text-style">2.0 years of experience</p>
        </div>
      </li>
      <li class="mentor-item-container">
        <picture>
          <source
            srcset="./img/mobile/eliot.png, ./img/mobile/eliot_2x.png 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/tablet/eliot.png, ./img/tablet/eliot_2x.png 2x"
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./img/desktop_1280/eliot.png,
              ./img/desktop_1280/eliot_2x.png 2x
            "
            media="(min-width: 1280px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./img/desktop_1440/eliot.png,
              ./img/desktop_1440/eliot_2x.png 2x
            "
            media="(min-width: 1440px)"
          />

          <img
            src="./img/mobile/eliot.png"
            alt="Eliot"
            width="180"
            height="180"
            loading="lazy"
          />
        </picture>

        <div class="mentor-text-container">
          <h3 class="text-header-small">Eliot Kovalev</h3>
          <p class="text-small paragraph-text-style">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
