<section>
    <div class="container mentor-section-container">
        
            <h2 class="text-header-medium header-text-style-mentor">Our <span class="text-color">Mentors </span></h2>
            <ul class="mentor-list-container">
                    <li class="mentor-item-container">
                        <img src="./img/mobile/emilia.png">
                        <div class="mentor-text-container">
                            <h3 class="text-header-small">Emilia Smith</h3>
                            <p class="text-small paragraph-text-style">15 years of experience</p>
                        </div>
                    </li>
                    <li class="mentor-item-container">
                        <img src="./img/mobile/alex.png">
                        <div class="mentor-text-container">
                            <h3 class="text-header-small">Alex Lebedev</h3>
                            <p class="text-small paragraph-text-style">3.5 years of experience</p>
                        </div>
                    </li>
                    <li class="mentor-item-container">
                        <img src="./img/mobile/mia.png">
                        <div class="mentor-text-container">
                            <h3 class="text-header-small">Mia Dubrovska</h3>
                            <p class="text-small paragraph-text-style">2.0 years of experience</p>
                        </div>
                    </li>
                    <li class="mentor-item-container">
                        <img src="./img/mobile/eliot.png">
                        <div class="mentor-text-container">
                            <h3 class="text-header-small">Eliot Kovalev</h3>
                            <p class="text-small paragraph-text-style">4.0 years of experience</p>
                        </div>
                    </li>
    </div>
</section>