<section class="section">
  <div class="reviews-container">
    <h2 class="text-header-medium reviews-header" id="reviews">Reviews</h2>

    <ul class="reviews-list list">
      <li>
        <div class="reviews-list-container-one">
          <div class="reviews-item">
            <div class="reviews-main-info">
              <img
                srcset="
                  ./img/mobile/abraham.png    1x,
                  ./img/mobile/abraham_2x.png 2x
                "
                src="./img/mobile/abraham.png"
                alt="Abraham Baker"
                width="56"
                height="56"
              />

              <div>
                <h3 class="text-header-small">Abraham Baker</h3>
                <p class="reviews-text-paragraph">Student</p>
              </div>
            </div>

            <div class="reviews-raiting">
              <svg class="reviews-icon" width="16px" height="16px">
                <use href="./img/icons.svg#icon-start_review"></use>
              </svg>
              <svg class="reviews-icon" width="16px" height="16px">
                <use href="./img/icons.svg#icon-start_review"></use>
              </svg>
              <svg class="reviews-icon" width="16px" height="16px">
                <use href="./img/icons.svg#icon-start_review"></use>
              </svg>
              <svg class="reviews-icon" width="16px" height="16px">
                <use href="./img/icons.svg#icon-start_review"></use>
              </svg>
              <svg class="reviews-black-icon" width="16px" height="16px">
                <use href="./img/icons.svg#icon-start_review"></use>
              </svg>
            </div>
          </div>

          <p class="text-paragraph-one">
            I am very pleased that I decided to enroll in photography school.
            The teachers turned out to be very talented and experienced
            professionals who share their knowledge and are dedicated to their
            work. I was able to expand my skills and discover my own style.
          </p>
        </div>
      </li>

      <li>
        <div class="reviews-list-container-two">
          <div class="reviews-item">
            <div class="reviews-main-info">
              <img
                srcset="
                  ./img/desktop_1280/amanda.png    1x,
                  ./img/desktop_1280/amanda_2x.png 2x
                "
                src="./img/desktop_1280/amanda.png"
                alt="Amanda Lowery"
                width="56"
                height="56"
              />

              <div>
                <h3 class="text-header-small">Amanda Lowery</h3>
                <p class="reviews-text-paragraph">Student</p>
              </div>
            </div>

            <div class="reviews-raiting">
              <svg class="reviews-icon" width="16px" height="16px">
                <use href="./img/icons.svg#icon-start_review"></use>
              </svg>
              <svg class="reviews-icon" width="16px" height="16px">
                <use href="./img/icons.svg#icon-start_review"></use>
              </svg>
              <svg class="reviews-icon" width="16px" height="16px">
                <use href="./img/icons.svg#icon-start_review"></use>
              </svg>
              <svg class="reviews-icon" width="16px" height="16px">
                <use href="./img/icons.svg#icon-start_review"></use>
              </svg>
              <svg class="reviews-black-icon" width="16px" height="16px">
                <use href="./img/icons.svg#icon-start_review"></use>
              </svg>
            </div>
          </div>

          <p class="text-paragraph-two">
            The courses at the photography school exceeded all my expectations.
            I gained not only technical knowledge, but also inspiration and
            motivation to reach new heights in my creativity. Hands-on classes
            and workshops helped me understand different styles of photography.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
