<section class="sign">
  <div class="sign-container container">
    <div class="sign-container-wrapper">
      <h2 class="sign-header text-header-medium" id="sign">
        Sign <span>Up</span>
      </h2>
      <p class="sign-paragraph text-paragraph">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="sign-form" name="review-form" novalidate method="post">
        <div class="sign-form-first">
          <div class="sign-form-field">
            <input
              class="sign-form-input"
              type="text"
              name="user-name"
              id="user-name"
              required
              placeholder="Enter your name"
            />
          </div>
        </div>
        <div class="sign-form-first">
          <div class="sign-form-field">
            <input
              class="sign-form-input"
              type="email"
              name="user-email"
              id="user-email"
              placeholder="Enter your email"
            />
          </div>
        </div>
        <div class="sign-form-f">
          <textarea
            class="sign-form-comment"
            name="user-comment"
            id="user-comment"
            placeholder="Message"
          ></textarea>
        </div>
        <button class="sign-form-btn" type="submit">Send</button>
      </form>
      <p class="sign-paragraph-bottom text-paragraph">
        By clicking on “Send” button, you agree to our <u>Privacy Policy</u>,
        and allow Promodo to use this information for marketing purposes.
      </p>
    </div>
    <div class="two-photo">
      <div class="photo-lens-h">
        <!-- <div class="photo-lens"> -->
        <img
          src="./img/desktop_1440/lens.png"
          alt="lens"
          class="img-lens"
          loading="lazy"
        />
        <!-- </div> -->
      </div>
      <div class="photo-cam-h">
        <!-- <div class="photo-cam"> -->
        <img
          src="./img/desktop_1440/camera.png"
          alt="camera"
          class="img-cam"
          loading="lazy"
        />
        <!-- </div>               -->
      </div>
    </div>
  </div>
</section>
