<section class="">
    <div class="">
        <div class="">
            <h2>
                Sign <span>Up</span>
            </h2>
            <p>Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.</p>
            <form class="sign-form" name="review-form" novalidate method="post">
                <div class="sign-form-first">
                    <label class="sign-form-lable" for="user-name"></label>
                    <div class="sign-form-field">
                        <input class="sign-form-input" type="text" name="user-name" id="user-name" required />
                    </div>
                </div>
                <div class="sign-form-first">
                    <label class="sign-form-lable" for="user-email"></label>
                    <div class="sign-form-field">
                        <input class="sign-form-input" type="email" name="user-email" id="user-email" />
                    </div>
                </div>
                <div class="sign-form-field">
                    <label class="sign-form-lable" for="user-comment"></label>
                    <textarea class="sign-form-comment" name="user-comment" rows="" id="user-comment"
                        placeholder="Text input"></textarea>
                </div>
                <button class="sign-form-btn" type="submit">Send</button>
            </form>
            <p>
                By clicking on “Send” button, you agree to our Privacy Policy,
                and allow Promodo to use this information for marketing purposes.
            </p>
        </div>
        <div class="block">
            <img src="../img/desktop_1440/lens.png" alt="lens"  />
            <img src="../img/desktop_1440/camera.png" alt="camera" />
        </div>
    </div>
</section>