.marquee {
  overflow: hidden;
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  background-color: var(--color-BLACK);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.marquee__inner {
  display: flex;
}
.purple {
  color: var(--color-BROWN);
}
.marquee__line {
  flex-shrink: 0;
  margin: 0;
  padding: 20px 15px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Media for Tablet */

@media (min-width: 768px) {
  .marquee {
    color: #fff;
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: -0.8px;
    text-transform: uppercase;
  }
  .marquee__line {
    padding: 24px 15px;
  }
}

/* Media for Laptop */

@media (min-width: 1280px) {
  .marquee {
    color: #fff;
    font-family: DM Sans;
    font-size: 59px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 108.475% */
    letter-spacing: -1.18px;
    text-transform: uppercase;
  }
}
