

.marquee {
    overflow: hidden;
    color: #FFF;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    background-color: #121212;
  }
  
  .marquee__inner {
    display: flex;
  }
  .purple{
    color: #BEA69E;
  }
  .marquee__line {
    flex-shrink: 0;
    margin: 0;
    padding: 10px 15px;
    min-width: 100%;
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes marqueeLine {
    from {
      transform: translateX(0);
    }
    
    to {
      transform: translateX(-100%);
    }
  }

