.footer {
  background-image: url(../img/mobile/footer_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0 20px;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .footer {
    background-image: url(../img/mobile/footer_bg_2x.png);
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-logo-icon {
  fill: currentColor;
}

.footer-address-list {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
}

.footer-address-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.tel {
  text-transform: uppercase;
}

.footer-list-wrapper {
  display: flex;
  gap: 40px;
}

.footer-list-socials-item:not(:last-child),
.footer-list-menu-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-list-socials-link,
.footer-list-menu-link {
  transition: color 250ms ease-in-out;
}

.footer-address-list-link:hover,
.footer-address-list-link:focus,
.footer-address-list-link:active,
.footer-list-socials-link:hover,
.footer-list-socials-link:focus,
.footer-list-socials-link:active,
.footer-list-menu-link:hover,
.footer-list-menu-link:focus,
.footer-list-menu-link:active,
.footer-form-button:hover,
.footer-form-button:focus,
.footer-form-button:active {
  color: var(--color-BROWN);
}

.footer-form {
  display: flex;
  gap: 8px;
}

.footer-form-input {
  width: calc(100% - 68px);
  height: 60px;
  padding: 20px 18px;

  border-radius: 12px;
  outline: transparent;

  color: var(--color-BLACK);
  font-size: 16px;
  line-height: 1.25;
}

.footer-form-input::placeholder {
  opacity: 0.7;
}

.footer-form-input:focus {
  outline: 1px solid var(--color-BROWN);
}

.footer-form-input:not(:placeholder-shown):invalid:required {
  outline: 1px solid rgba(240, 32, 32, 0.7);
}
.footer-form-input:not(:placeholder-shown):valid:required {
  outline: 1px solid rgba(24, 238, 53, 0.7);
}

.footer-form-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;

  border-radius: 12px;
  border: none;
  background-color: var(--color-GRAY);

  font-size: 20px;
  line-height: 1.2;

  transition: color 250ms ease-in-out;
  overflow: hidden;
}

.footer-form-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.7);
  transform: translateX(0px) skewX(-40deg);
}

.footer-form-button:hover::before {
  animation: light 1.5s ease-in-out 0.25s infinite;
}

@keyframes light {
  0% {
    transform: translateX(-40px) skewX(-40deg);
  }
  100% {
    transform: translateX(100px) skewX(-40deg);
  }
}

.footer-form-button::before {
  transform: translateX(60px);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767.98px) {
  .footer-address {
    margin-bottom: 40px;
  }

  .footer-list-wrapper {
    margin-bottom: 75px;
  }

  .footer-form {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    background-image: url(../img/tablet/footer_bg.png);
    padding: 50px 0 25px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .footer {
      background-image: url(../img/tablet/footer_bg_2x.png);
    }
  }

  .footer-logo {
    margin-bottom: 25px;
  }

  .logo-address-wrapper {
    margin-right: 58px;
  }

  .footer-list-wrapper {
    gap: 25px;
  }

  .footer-form {
    margin-left: auto;
  }

  .footer-form-input {
    width: 178px;
  }

  .footer-top {
    display: flex;
    margin-bottom: 74px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    background-image: url(../img/desktop_1280/footer_bg.png);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .footer {
      background-image: url(../img/desktop_1280/footer_bg_2x.png);
    }
  }

  .logo-address-wrapper {
    margin-right: 285px;
  }

  .footer-list-wrapper {
    gap: 50px;
  }

  .footer-list-socials-item:not(:last-child),
  .footer-list-menu-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .footer-top {
    margin-bottom: 50px;
  }

  .footer-form {
    gap: 16px;
  }

  .footer-form-input {
    width: 216px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    background-image: url(../img/desktop_1440/footer_bg.png);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .footer {
      background-image: url(../img/desktop_1440/footer_bg_2x.png);
    }
  }

  .logo-address-wrapper {
    margin-right: 341px;
  }

  .footer-list-wrapper {
    gap: 100px;
  }
}
