:root {
  /*
    |============================
    | text smoothing
    |============================
  */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*
  |============================
  | colors
  |============================
*/
  --color-BLACK: #121212;
  --color-GRAY: #1d1d1d;
  --color-BROWN: #bea69e;
  --color-WHITE: #fff;
}

/*
  |============================
  | text sizes
  |============================
*/

.text-header-big {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1; /* 110% */
  letter-spacing: -0.04em;
}

.text-header-medium {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.04em;
}

.text-header-small {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
}

.text-paragraph {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}

.text-small {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33; /* 133.333% */
  letter-spacing: -0.02em;
}

.text-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .text-header-big {
    font-size: 60px;
    line-height: 1.07; /* 106.667% */
  }

  .text-header-medium {
    font-size: 48px;
    line-height: 1.13; /* 112.5% */
  }

  .text-header-small {
    font-size: 28px;
    line-height: 1.14; /* 114.286% */
  }

  .text-paragraph {
    font-size: 16px;
    line-height: 1.25; /* 125% */
  }
}

@media (min-width: 1280px) {
  .text-header-big {
    font-size: 64px;
    line-height: 1.06; /* 106.25% */
  }

  .text-small {
    font-size: 14px;
    line-height: 1.29; /* 128.571% */
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-WHITE);
  background-color: var(--color-BLACK);
  font-family: 'DM Sans', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .container {
    max-width: 704px;
    padding: 0;
  }

  section {
    padding-bottom: 100px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1080px;
  }

  section {
    padding-bottom: 150px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1240px;
  }
}
