.hero-section {
  margin-bottom: 80px;
}

.hero-section .container {
  padding: 40px 20px 0;
  background: var(--color-GRAY);
  border-radius: 30px;
}

.hero-header {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .hero-section {
    margin-bottom: 100px;
  }

  .hero-section .container {
    padding: 64px 32px 0;
  }

  .hero-header {
    width: 517px;
  }
}

@media (min-width: 1280px) {
  .hero-section {
    margin-bottom: 150px;
  }

  .hero-section .container {
    padding: 80px 50px 0;
    display: flex;
  }

  .hero-big-container {
    margin-right: 20px;
  }

  .hero-header {
    width: 563px;
  }
}

.hero-header-span {
  color: var(--color-BROWN);
  font-style: italic;
  font-weight: 400;
}

.hero-paragraph {
  margin-bottom: 40px;
}

.hero-students-star-container {
  display: flex;
  align-items: start;
  margin-bottom: 31px;
}

.hero-students-container {
  margin-right: 40px;
}

.hero-students-image {
  margin-bottom: 4px;
}

.hero-students-image img {
  width: 107px;
  height: 44px;
}

.hero-students-link {
  display: flex;
  align-items: center;
  gap: 4px;
}

.hero-students-text {
  letter-spacing: -0.04em;
  width: 67px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.hero-students-link:hover .hero-students-text,
.hero-students-link:focus .hero-students-text,
.hero-students-link:active .hero-students-text {
  color: var(--color-BROWN);
}

@media (min-width: 768px) {
  .hero-paragraph {
    font-size: 14px;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02;
    width: 418px;
  }

  .hero-students-star-container {
    margin-bottom: 40px;
  }

  .hero-students-container {
    display: flex;
    align-items: start;
  }

  .hero-students-image {
    margin-bottom: 0;
    margin-right: 12px;
  }

  .hero-students-image img {
    width: 135px;
    height: 54px;
  }

  .hero-students-link {
    display: block;
  }

  .hero-students-text {
    font-size: 16px;
    line-height: 1.25;
    width: 82px;
    margin-bottom: 8px;
  }
}

@media (min-width: 1280px) {
  .hero-paragraph {
    margin-bottom: 136px;
  }

  .hero-students-star-container {
    margin-bottom: 0;
  }
}

.hero-students-icon {
  fill: var(--color-WHITE);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.hero-students-link:hover .hero-students-icon,
.hero-students-link:focus .hero-students-icon,
.hero-students-link:active .hero-students-icon {
  fill: var(--color-BROWN);
}

.hero-star-container {
  display: flex;
  align-items: center;
}

.hero-star-box {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background: var(--color-BROWN);
  padding: 12px;
  margin-right: 12px;
}

@media (min-width: 768px) {
  .hero-star-box {
    width: 50px;
    height: 50px;
    padding: 15px;
  }
}

.hero-star-icon {
  stroke: var(--color-BLACK);
  fill: var(--color-BROWN);
}

.hero-review-text {
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: -0.04em;
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  .hero-review-text {
    margin-bottom: 8px;
  }
}

.text-review-number {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.13; /* 112.5% */
  letter-spacing: -0.04em;
}

.hero-photo img {
  width: 259px;
  height: 314px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .text-review-number {
    line-height: 1.25;
  }

  .hero-photo img {
    width: 393px;
    height: 434px;
  }
}

@media (min-width: 1280px) {
  .hero-photo img {
    width: 397px;
    height: 520px;
  }
}
