
/* Стилі для мобільного меню */
.menu {
  display: none;
  background: var(--brown, #bea69e);
  position: fixed;
  overflow: hidden;
  width: 218px;
  height: 100vh;
  right: 0;
  top: 0;
  transition: visibility 0s 2.5s, transform 2.5s, opacity 2.5s; 
}

.menu.is-open {
  display: block;
}

.menu2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 89px);
  top: 180px;
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}

.menu2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu2 li:not(:last-child) {
  margin-bottom: 20px;
}

.menu-link {
  color: var(--black, #121212);
  text-align: left;
  font: 400 14px 'DM Sans', sans-serif;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
  font-weight: 700;
}

.js-close-menu {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.rectangle-6 {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.icon_close_menu {
  width: 32px;
  height: 32px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .menu {
    width: 480px;
    height: 100vh;
  }

  .menu2 {
    left: calc(50% - 176px);
    top: 232px;
  }

  .menu2 li:not(:last-child) {
    margin-bottom: 28px;
  }

  .menu-link {
    font-size: 16px;
  }

  .rectangle-6 {
    width: 480px;
    height: 476px;
  }

  .icon_close_menu {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1280px) {
  .menu {
      visibility: hidden;
      position: absolute;
      top: -9999px;
      left: -9999px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
